/* This custom CSS is a lightweight way to add icons to buttons and inline text using classes.
Best used with https://wordpress.org/plugins/css-class-manager/ 
*/

/* --- Icon Buttons --- */
[class^="ic-btn-"] .wp-block-button__link::after,
[class*=" ic-btn-"] .wp-block-button__link::after {
  font-family: "Icon-Font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f178";
  padding-left: 0.7rem;
  font-size: 1.9rem;
  width: 24px;
}

[class^="ic-btn-"] .wp-block-button__link,
[class*=" ic-btn-"] .wp-block-button__link {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
}

.ic-btn-arrow-right .wp-block-button__link::after {
  content: "\e902";
}

.ic-btn-chevron-right .wp-block-button__link::after {
  content: "\e903";
  padding-left: 0.3rem;
  width: 18px;
}

.ic-btn-download .wp-block-button__link::after {
  content: "\e901";
}

.ic-btn-external-link .wp-block-button__link::after {
  content: "\e900";
}

/* --- Icons Inlne --- */
[class^="ic-inline-"]::after,
[class*="ic-inline-"]::after {
  font-family: "Icon-Font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e900";
  padding-left: 0.1rem;
  font-size: larger;
  width: 27px;
}

[class^="ic-inline-"],
[class*="ic-inline-"] {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  /* border-bottom: 1px solid; */
}

.ic-inline-external-link::after {
  content: "\e900";
}
