/* Blue Button */
/* The colors are just for demo - it's advised that once you have set up your custom colors, you use the variable instead of the hardcoded hex value */

.is-style-blue-btn .wp-block-button__link {
  color: var(--wp--preset--color--custom-off-black);
  background: var(--wp--preset--color--cph-coral);
  border: 2px solid var(--wp--preset--color--cph-coral);
}

.is-style-blue-btn .wp-block-button__link:hover {
  color: var(--wp--preset--color--cph-coral);
  background: var(--wp--preset--color--custom-white);
}
