<!-- wp:pattern {"slug":"cph/header"} /-->
<!-- wp:pattern {"slug":"cph/cph-hero"} /-->
<!-- wp:pattern {"slug":"cph/cph-intro"} /-->
<!-- wp:pattern {"slug":"cph/cph-tabs"} /-->
<!-- wp:pattern {"slug":"cph/cph-now-playing"} /-->
<!-- wp:pattern {"slug":"cph/cph-see-all"} /-->
<!-- wp:pattern {"slug":"cph/cph-destinations"} /-->
<!-- wp:pattern {"slug":"cph/footer"} /--><!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"cph-front-page is-style-starter-group","layout":{"type":"default"}} -->
<main class="wp-block-group cph-front-page is-style-starter-group"><!-- wp:cph/hero /-->

<!-- wp:pattern {"slug":"cph/cph-intro"} /-->

<!-- wp:cph/tabs /-->

<!-- wp:cph/carousel /-->

<!-- wp:pattern {"slug":"cph/cph-see-all"} /-->

<!-- wp:pattern {"slug":"cph/cph-destinations"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
