<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"moxy-front-page is-style-starter-group","layout":{"type":"default"}} -->
<main class="wp-block-group moxy-front-page is-style-starter-group"><!-- wp:pattern {"slug":"cph/moxy-hero"} /-->

<!-- wp:pattern {"slug":"cph/moxy-tabs"} /-->

<!-- wp:pattern {"slug":"cph/moxy-now-playing"} /-->

<!-- wp:pattern {"slug":"cph/moxy-see-all"} /-->

<!-- wp:pattern {"slug":"cph/moxy-bonvoy"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->