<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"moxy-front-page is-style-starter-group","layout":{"type":"default"}} -->
<main class="wp-block-group moxy-front-page is-style-starter-group"><!-- wp:cph/hero /-->

<!-- wp:pattern {"slug":"cph/moxy-intro"} /-->

<!-- wp:cph/tabs /-->

<!-- wp:cph/carousel /-->

<!-- wp:pattern {"slug":"cph/moxy-see-all"} /-->

<!-- wp:pattern {"slug":"cph/moxy-destinations"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
